<form name="novoPedido">
    <div class="col-sm-push-5">
        <label for="produto" class="col-sm-2 control-label">Produto:</label>
        <select id="combo-produto" class="form-control" ng-model="ctrlPedido.Produto.NomeProduto" required>
            <option ng-repeat="option in ctrlPedido.produtosCombo" value="{{option}}">
                {{option.Nome}}
            </option>
        </select>
    </div>
    <div class="col-sm-push-7">
        <label for="quantidade" class="col-sm-2 control-label">Quantidade:</label>
        <input type="text" class="form-control" placeholder="Quantidade" ng-model="ctrlPedido.Produto.quantidade" required />
    </div>

    <div class="col-sm-push-4">
        <label for="cpf" class="col-sm-2 control-label">CPF:</label>
        <input type="text" class="form-control" placeholder="CPF" ng-model="ctrlPedido.Produto.cpf" required />
    </div>

    <div class="col-sm-push-4">
        <label for="cep" class="col-sm-2 control-label">CEP:</label>
        <input type="text" class="form-control" placeholder="CEP" ng-model="ctrlPedido.Produto.cep" required />
    </div>

    <div class="col-sm-push-5">
        <label for="endereco" class="col-sm-2 control-label">Endereço:</label>
        <input type="text" class="form-control" placeholder="Endreço" ng-model="ctrlPedido.Produto.endereco" required />
    </div>

    <div class="col-sm-push-4">
        <label for="DataPedido" class="col-sm-2 control-label">Data do pedido:</label>
        <input type="text" class="form-control" placeholder="Data do pedido" ng-model="ctrlPedido.Produto.dataPedido" required />
    </div>

    <div class="col-sm-push-2">
        <button id="btn-incluir-produto" ng-click="ctrlPedido.IncluirPedido()" data-ng-disabled="!novoPedido.$valid" class="btn-success">adicionar</button>
    </div>
</form>

<table class="table table-striped table-bordered table-hover table-condensed" ng-if="ctrlPedido.produtosIncluidos.length>0">
    <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Quantidade</th>
        <th>Total</th>
        <th></th>
    </tr>
    <tr ng-repeat="prod in ctrlPedido.produtosIncluidos">
        <td>{{prod.Nome}}</td>
        <td>{{prod.Valor}}</td>
        <td>{{prod.Quantidade}}</td>
        <td>{{prod.Quantidade * prod.Valor}}</td>
        <td>
            <a href="" ng-click="ctrlPedido.RemoverProdutoPedido(prod)">Excluir</a>
        </td>
    </tr>
</table>


<div class="col-sm-offset-2 col-sm-10" ng-if="ctrlPedido.produtosIncluidos.length>0">
    <input type="submit" value="Salvar" data-ng-click="ctrlPedido.Salvar()" class="btn btn-primary" />
    <input type="button" value="Cancelar" data-ng-click="ctrlPedido.Listar()" class="btn btn-primary" />
</div>

