<div ng-controller="groceryController as ctrl">
    <div ng-controller="pedidoController as ctrlPedido">        
        <a href="" ng-click="ctrl.Listar()" >Listar Produtos</a>
        <a href="" ng-click="ctrl.Cadastrar('/cadastro')">Novo Produto</a>
        <a href="" ng-click="ctrlPedido.Novo()" >Criar Pedido</a>
        
        <div data-ng-view></div>
    </div>
    
</div>







